* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	margin: 0 auto;
	padding: 1em;
}

p{
	font-family: 'Roboto Slab', serif;

}

#top {
	display: hidden;
}

/*nav bar*/
ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

li{
	display: inline;
}

.navbar a {
	display: inline-block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    color: #1d4482;
    width: 32.59%;
    font-size: 2em;
    font-family: 'Roboto Slab', serif;

}

a:hover {
	border: 1px solid #bddef9;

}

/*left boxes*/
.left {
	display: inline-block;
	width: 49.59%;
	border: 1px solid gray;
    height: 200px;
    padding: 1em;
    margin: 1em auto;
    overflow: scroll;
}

/*right boxes*/
.right {
	display: inline-block;
	width: 49.59%;
	border: 1px solid gray;
    height: 200px;
    padding: 1em;
    margin: 1em auto;
    text-align: right;
    overflow: scroll;

}

/*middle box*/
.middle {
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
    padding: 1em;
    margin: 1em auto;
    max-width: 60%;
    height: 200px;
    text-align: center;
    display: table;
}

/*vertically align text in middle box*/
.middle p {
	display: table-cell;
	vertical-align: middle;
	padding-right: 1em;
}

.middle img {
	width: 100%;
    height: auto;
    display: block;
    padding-left: 1em;
}

#scroll {
	position:fixed;
	bottom:0;
	right: 2em;
}

#pic {
	height: 4em;
	width: 4em;
	opacity: 1;
}

