/*the scrollbar*/
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}

/*.test {
	margin-top: 0 auto;
}*/

.horizontal-scroll-wrapper {
  display: inline-block;
  height: 100vw;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transform: rotate(-90deg) translateY(-600px);
          transform: rotate(-90deg) translateY(-600px);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
.horizontal-scroll-wrapper  div {
  display: block;
  margin: 0 auto;
  padding: 5px;
  background: #cab;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

/*make 1st gallery item visible*/
.squares {
  padding: 600px 0 0 0;
}
/*gallery content sizing*/
.squares  div {
  width: 500px;
  height: 600px;
  margin: 2em; 0;
}