/* 
- Name: Responsive overlay menu framework
- Version: 1.0
- Latest update: 15.9.2015.
- Author: Mario Loncarek
- Author web site: http://marioloncarek.com
*/

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

h3 {
    color: #BC516C;
    text-align: center;
    margin: 0;
    padding: 10px 0 0;
    background-color: inherit;
    font-family: 'Poiret One', cursive;
    text-decoration: none;
    font-size: 2em;
}

/* OPEN / CLOSE BTNS */

.menu-btn {
    position: fixed;
    top: 6px;
    right: 20px;
    height: 0px;
    z-index: 999;
    display: inline;
    font-size: 32px;
    text-decoration: none;
    color: #BC516C;
    background-color: #F8D6DE;
}

.menu-btn a:hover {
    display: inline-block;
    text-decoration: none;
    /* safari hack */
}

.btn-open:after {
    color: #982C47;
    content: "\f394";
    font-family: "Ionicons";
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition-property: all .2s linear 0s;
}

.btn-open:hover:after {
    color: #982C47;
    text-decoration: inherit;
}

.btn-close:after {
    color: #982C47;
    content: "\f2d7";
    font-family: "Ionicons";
    text-decoration: none;
    background-color: #F0B0C0;
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition-property: all .2s linear 0s;
}

.btn-close:hover:after {
    color: #BC516C;
    text-decoration: inherit;
}

/* OVERLAY */

.overlay {
    position: fixed;
    top: 0;
    z-index: 99;
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: #F0B0C0;
}

.overlay-container {
    display: table;
    margin: 0 auto;
    padding-top: 20%;
    background-color: inherit;
}

.overlay a {
    color: #982C47;
    height: 20px;
    text-decoration: none;
}

.overlay a:hover {
    text-decoration: none;
    color: #FFFDFE;
}


/* RESPONSIVE */

@media screen and (max-width: 768px) {
    .menu-btn {
        right: 25px;
    }
}
