p::first-letter {
  font-weight: bold;
  color: purple;
  font-size: 200px;
}

a:hover {
  color: purple;
  text-decoration: line-through;
  font-size: 150px;
}

a 	{
	font-size: 100px;
	color: yellow;
	text-decoration: none;
}